/*basic*/
*,
html,
body {
    box-sizing: border-box;
    margin: 0;

}

body {
    background-color: #8d8277;
}


img {}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif, LimeStone;
}

p,
h1,
h2,
h3,
h4 {
    font-family: sans-serif, LimeStone;
}

/*------------header-----------*/
.logo {
    background-image: url(pics/K_kalklandet_cmyk.png);
    width: 70px;
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.left {
    display: flex;
}

.tagline {
    margin-top: 3vh;
}

.tagline p {
    color: #8d8277;
}

.rigth {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 2vw 2vw 0 2vw;
    width: 100vw;
}

/*
.search {
    padding: 10px 10px 0 0;
    border-color: black;
    border: 2px;

}

.search p {
    color: #8d8277;
}
*/

/*--------splash billede-------*/


.splash {
    display: flex;
    width: 100vw;
    justify-content: center;
    height: 90vh;
    background-size: cover;
    margin-bottom: 6px;
}

.overskrift {
    align-self: center;
    font-size: 5rem;
    color: white;
    padding-top: 30vh;
    font-family: sans-serif;

}



/*-------brugermenu--------*/

.hide {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    display: flex;
    flex-wrap: wrap;
    width: 35px;
    height: 5px;
    background-color: #8d8277;
    margin: 6px 0;
    transition: 0.4s;

}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


.change .bar2 {
    opacity: 0;
}


.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.box {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.88);
}


.ned_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.ned_menu a {
    font-size: 1.1rem;
    margin: 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: black;
}

.ned_menu a:hover {
    text-decoration: none;
    color: white;
}

.burgermenu {
    cursor: pointer;
    margin-left: 170px;



}


/*hovedmenu*/

.koldkrig {
    display: flex;
    width: 100vw;
    height: 60vh;
    background-size: cover;
    border: solid #8d8277 8px;


}

.klint {
    display: flex;
    width: 100vw;
    height: 60vh;
    background-size: cover;
    border: solid #8d8277 8px;

}

.kalkbrud {
    display: flex;
    width: 100vw;
    height: 60vh;
    background-size: cover;
    border: solid #8d8277 8px;

}

.viden {
    width: 100vw;
    height: 70vh;
    background-size: cover;
    display: flex;
    border: solid #8d8277 8px;


}

.koldkrigsmuseum_overskrift {
    font-size: 2rem;
    color: white;
    padding: 53vh 0 0 2vw;
    font-family: sans-serif;
}

.klint_overskrift {
    font-size: 2rem;
    color: white;
    padding: 53vh 0 0 2vw;
    font-family: sans-serif;
}

.kalkbrud_overskrift {
    font-size: 2rem;
    color: white;
    padding: 53vh 0 0 2vw;
    font-family: sans-serif;
}

.viden_overskrift {
    align-self: center;
    font-size: 4rem;
    color: white;
    padding: 60vh 0 0 2vw;
    font-family: sans-serif;
}

#forsidemenu {
    justify-content: space-around;
}

/* media desktop*/

@media only screen and (min-width:725px) {

    .splash {
        display: flex;
        width: 100vw;
        justify-content: center;
        height: 90vh;
        background-size: cover;
        margin-bottom: 3px;
    }

    #forsidemenu {
        display: flex;
        justify-content: space-around;
    }

    .kalkbrud {
        display: flex;
        border: solid #8d8277 6px;
        margin-right: 3px;
    }

    .klint {
        display: flex;
        border: solid #8d8277 6px;
    }

    .koldkrig {
        display: flex;
        border: solid #8d8277 6px;
        margin-left: 3px;
    }


}

/*viden*/
#viden_menu {
    display: flex;
    justify-content: space-between;
    padding: 2vw;

}

.kasse {
    width: 100vw;
    height: 40vh;

}

.kulturhistorie_billede {
    background-color: aliceblue;
}


/*------------menu---------*/

.menu {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: sans-serif, limeStone;
    background-color: aliceblue;
}

.menu a {
    color: black;
    text-decoration: none;

}


/*------------tekst og knap---------*/

.tekst_knap {}

.knap {
    text-align: center;

}

.knap img {
    width: 50vw;
}


/*---------- media queries ------------*/

/*-------- Desktop ---------*/


@media screen and (min-width: 1200px) {

    .tekst_knap {
        display: flex;
    }

}


/*-------- koldkrig, besøg os ---------*/


.indhold {
    padding: 5vw;
    line-height: 30px;

}

.indhold h2 {
    font-size: 30px;
    font-family: sans-serif, limeStone;

}

.indhold h3 {
    font-size: 20px;
    font-family: sans-serif, limeStone;
}

.indhold p {
    font-size: 14px;
    font-family: arial;
}

#map {
    width: 80vw;
    height: auto;
}



/*footer*/

footer {
    background-color: #8d8277;
    display: flex;
    justify-content: space-between;
    padding: 5vw;
}

#om_os {
    display: flex;
    flex-direction: column;

}

#om_os p {
    font-size: 1.2rem;
}

#om_os a {
    text-decoration: none;
    color: black;
}

#om_os a:hover {
    text-decoration: none;
    color: white;
}

.facebook {
    background-image: url(pics/facebook.png);
    width: 5vw;
    height: 4vh;
    background-size: contain;
    margin: 3px;
}
