/*basic*/
* {
    margin: 0;

}



/*header*/
.logo {
    background-image: url(pics/logo.png);
    width: 50px;
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.left {
    display: flex;
}

.tagline {
    margin-top: 3vh;
}

.rigth {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #5d5d5d;
}

.search {
    padding: 20px 20px 0 0;
    border-color: black;
    border: 2px;

}

/*-------brugermenu--------*/

.hide {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    display: flex;
    flex-wrap: wrap;
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;

}


.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


.change .bar2 {
    opacity: 0;
}


.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.box {
    position: absolute;
    justify-content: flex-end;
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.88);
}


.ned_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5vw;

}

.ned_menu a {
    font-size: 1.1rem;
    margin: 0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: black;
}

/*splash billede*/


.splash {
    display: flex;
    background-color: gainsboro;
    width: 100vw;
    height: 70vh;
    justify-content: center;
}

.logotype {
    align-self: center;

}


/*hovedmenu*/

.koldkrig {
    display: flex;
    background-color: #bababa;
    width: 100vw;
    height: 40vh;

}

.klint {
    display: flex;
    background-color: #bababa;
    width: 100vw;
    height: 40vh;
}

.kalkbrud {
    display: flex;
    background-color: #bababa;
    width: 100vw;
    height: 40vh;
}

.viden {
    background-color: #bababa;
    width: 100vw;
    height: 20vh;

}

/* media desktop*/

@media only screen and (min-width:725px) {

    #forsidemenu {
        display: flex;
        justify-content: space-around
    }

    .kalkbrud {
        display: flex;
    }

    .klint {
        display: flex;
    }

    .koldkrig {
        display: flex;
    }

}


/*footer*/

footer {
    background-color: #5d5d5d;
    display: flex;
    justify-content: space-between;
}

#om_os {
    display: flex;
    flex-direction: column;

}

.facebook {
    background-image: url(pics/facebook.png);
    width: 5vw;
    height: 4vh;
    background-size: contain;
}
